img {
    max-width: 100%;
    height: auto
}

i.down_icon,i.right_icon,i.left_icon,i.up_icon {
    position: absolute;
    top: 16px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}

i.down_icon:before,i.right_icon:before,i.left_icon:before,i.up_icon:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #59646a transparent transparent transparent;
    transition: border-color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s
}

i.right_icon {
    transform: rotate(-90deg)
}

i.left_icon {
    transform: rotate(90deg)
}

i.up_icon {
    transform: rotate(180deg)
}

.btn-primary.focus,.btn-primary:focus,.form-control:focus,.btn.focus,.btn:focus {
    box-shadow: none
}

body {
    font-family: 'Quicksand', sans-serif
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #f7f7f7;
    border-radius: 10px
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: #f7f7f7
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(var(--mainColor)), to(var(--mainColor)), color-stop(0.6, var(--mainColor)))
}

#js-login-toggle {
    z-index: 9
}

.line_1,.line_2,.line_3,.line_4,.line_5 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 2
}

.line_2 {
    -webkit-line-clamp: 2;
    height: calc(21px * 2);
    line-height: 21px
}

.line_3 {
    -webkit-line-clamp: 3;
    height: calc(21px * 3);
    line-height: 21px
}

.line_4 {
    -webkit-line-clamp: 4;
    height: calc(21px * 4);
    line-height: 21px
}

.line_5 {
    -webkit-line-clamp: 5;
    height: calc(21px * 5);
    line-height: 21px
}

a {
    color: var(--textColor)
}

a,a:hover {
    text-decoration: none;
    transition: 0.3s all ease
}

a:hover,.alert-warning .alert-link:hover,.item_bl:hover .title_blo a {
    color: var(--mainColor)
}

header.left_h {
    width: 260px;
    text-align: center;
    position: fixed;
    height: 100%;
    top: 0 !important;
    z-index: 9;
    background: #000
}

button {
    cursor: pointer
}

.pt-xl-7 {
    padding-top: 4rem !important
}

.pb-xl-7 {
    padding-bottom: 4rem !important
}

.mf {
    margin-right: -8px;
    margin-left: -8px
}

.swiper-container [class*=swiper-button-].swiper-button-disabled {
    display: none
}

.swiper-container .swiper-button-next,.swiper-container .swiper-button-prev {
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    color: #707070;
    top: 45%;
    transition: .3s;
    outline: none;
    opacity: .9
}

.swiper-container .swiper-button-next:after,.swiper-container .swiper-button-prev:after {
    font-size: 20px;
    color: #333;
    width: 0;
    height: 0
}

.swiper-container .swiper-button-next {
    padding-left: 11px;
    border-radius: 100px 0 0 100px;
    right: 0
}

.swiper-container .swiper-button-next:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid red;
    content: ''
}

.swiper-container .swiper-button-prev {
    padding-right: 11px;
    border-radius: 0 100px 100px 0;
    left: 0
}

.swiper-container .swiper-button-prev:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid red;
    content: ''
}

.w-133 {
    width: 133px;
    text-align: left
}

@media (max-width: 1024px) {
    .w-133 {
        width:auto
    }
}

.menu-toggle {
    height: 50px;
    right: -50px;
    top: 0;
    background: #fff
}

.menu-toggle .icon-menu {
    width: 20px;
    display: inline-block
}

@media (max-width: 767px) {
    .menu-toggle {
        line-height:47px
    }
}

.menu-toggle svg {
    fill: #000
}

.menu-toggle:hover {
    color: var(--mainColor)
}

.menu-toggle:hover svg {
    fill: var(--mainColor)
}

.logo {
    padding: 15px;
    position: relative;
    background: var(--leftColBackground)
}

@media (max-width: 991px) {
    .logo img {
        height:19px
    }
}

.navigation-block-dv {
    background: #f5f5f5
}

.navigation-block {
    max-height: 100%;
    overflow-y: auto
}

.navigation-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #f7f7f7;
    border-radius: 10px
}

.navigation-block::-webkit-scrollbar {
    width: 3px;
    background-color: #f7f7f7
}

.navigation-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(var(--mainColor)), to(var(--mainColor)), color-stop(0.6, var(--mainColor)))
}

.d-grid {
    display: grid !important
}

.box_vendor {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    overflow-y: auto
}

@media (min-width: 992px) {
    .box_vendor {
        max-height:227px
    }
}

@media (max-width: 991px) {
    .box_vendor {
        max-height:113px
    }
}

.box_vendor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #f7f7f7;
    border-radius: 10px
}

.box_vendor::-webkit-scrollbar {
    width: 3px;
    background-color: #f7f7f7
}

.box_vendor::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(var(--mainColor)), to(var(--mainColor)), color-stop(0.6, var(--mainColor)))
}

.item_vendor {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed
}

.item_vendor:hover {
    border-color: rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    z-index: 1
}

.item_vendor a {
    padding: 15px 7px
}

.item_vendor a img {
    max-height: 55px
}

.social {
    bottom: 0;
    top: auto;
    border-top: 1px solid #e5e5e5
}

@media (min-width: 992px) {
    .social {
        padding:10px 0 !important
    }
}

.social a {
    width: 23%;
    display: inline-block;
    text-align: center
}

.social a:hover img {
    transform: rotate(5deg) scale(1.1)
}

.social a img {
    height: 35px;
    transition: all .3s
}

.navigation-bottom {
    border-top: 2px solid var(--mainColor);
    background: var(--lightLeftColBackground)
}

.navigation-bottom .btn-account {
    flex: 0 0 calc(100% - 55px);
    min-width: calc(100% - 55px);
    color: var(--accentColor1)
}

.navigation-bottom .btn-account:hover {
    background-color: var(--mainColor);
    color: #fff
}

.navigation-bottom .btn-cart {
    flex: 0 0 55px;
    min-width: 55px;
    border-left: 1px solid #595959;
    top: initial !important
}

.navigation-bottom .btn-cart svg {
    max-width: 40px;
    height: 36px
}

.navigation-bottom .btn-cart svg path {
    fill: #fff
}

.navigation-bottom .btn-cart:hover {
    border-left: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    color: #fff
}

.menubar {
    background: #fff;
    z-index: 8;
    min-height: 50px;
    top: 0 !important;
    transition: all 0.4s ease
}

.menubar.fix-top {
    padding-top: 48px !important
}

.search-block {
    padding: 0px 10px;
    z-index: 9;
    top: -48px !important;
    width: 100%;
    background: #fff;
    transition: all 0.4s ease
}

.search-block.fix {
    top: 0px !important
}

.search-block .left-search {
    transition: all 0.3s ease;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    max-width: 600px;
    margin: 0 auto
}

.search-block .left-search input[type="text"] {
    height: 40px;
    color: #363636;
    padding: 0 10px;
    font-size: 0.875rem;
    box-shadow: none
}

.search-block .left-search button {
    cursor: pointer;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    background: #1e018b;
    border-radius: 0 .25rem 0.25rem 0;
    color: #fff
}

.search-block .left-search button {
    cursor: pointer;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 .25rem 0.25rem 0
}

@media (max-width: 992px) {
    .search-block .left-search button {
        height:40px;
        width: 40px;
        background-color: var(--mainColor)
    }
}

.search-block .left-search button svg {
    fill: #fff
}

.search-block .left-search.active #searchResult {
    display: block;
    border: 1px solid var(--mainColor);
    border-top: 0
}

@keyframes light {
    0% {
        background: var(--lightLeftColBackground)
    }

    25% {
        background: var(--accentColor1)
    }

    50% {
        background: var(--mainColor)
    }

    75% {
        background: var(--accentColor1)
    }

    100% {
        background: var(--lightLeftColBackground)
    }
}

#menu-dv li>a {
    display: block;
    color: #000;
    transition: 0.3s color ease;
    font-size: 0.9em;
    padding-left: 30px
}

#menu-dv li>a.active,#menu-dv li>a:hover {
    color: var(--mainColor)
}

#menu-dv li>a.active::after,#menu-dv li>a:hover::after {
    border-color: var(--mainColor)
}

#menu-dv li:nth-child(1):before {
    background-image: url(//bizweb.dktcdn.net/100/425/004/themes/817678/assets/icon_dv_1.png?1701049529469);
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px
}

#menu-dv li:nth-child(2):before {
    background-image: url(//bizweb.dktcdn.net/100/425/004/themes/817678/assets/icon_dv_2.png?1701049529469);
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px
}

#menu-dv li:nth-child(3):before {
    background-image: url(//bizweb.dktcdn.net/100/425/004/themes/817678/assets/icon_dv_3.png?1701049529469);
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px
}

#menu-dv li:nth-child(4):before {
    background-image: url(//bizweb.dktcdn.net/100/425/004/themes/817678/assets/icon_dv_4.png?1701049529469);
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px
}

#menu-dv li:nth-child(5):before {
    background-image: url(//bizweb.dktcdn.net/100/425/004/themes/817678/assets/icon_dv_5.png?1701049529469);
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px
}

#menu>li>a::after {
    width: 15px;
    border-bottom: 2px solid #59646a;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0
}

#menu li>a {
    display: block;
    color: #000;
    transition: 0.3s color ease;
    font-size: 0.9em
}

#menu li>a.active,#menu li>a:hover {
    color: var(--mainColor)
}

#menu li>a.active::after,#menu li>a:hover::after {
    border-color: var(--mainColor)
}

#menu li .down_icon {
    top: 0;
    right: 0;
    height: 100%;
    width: 26px;
    height: 2rem;
    transition: 0.3s all ease;
    will-change: transform
}

#menu li:hover>.down_icon::before {
    border-color: var(--mainColor) transparent transparent transparent
}

#menu .lv1,#menu .lv2 {
    font-size: 0;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
    will-change: transform
}

#menu .lv1 .down_icon,#menu .lv2 .down_icon {
    transition: all 0.8s;
    height: 0;
    will-change: transform
}

#menu .lv1 a,#menu .lv2 a {
    padding-bottom: 0 !important;
    padding-top: 0 !important
}

#menu .open>ul {
    opacity: 1;
    pointer-events: auto;
    font-size: 1rem
}

#menu .open>ul .down_icon {
    height: 2rem
}

#menu .open>ul>li>a {
    padding-bottom: 0.25rem !important;
    padding-top: 0.25rem !important
}

#menu .open>.down_icon {
    transform: rotate(180deg)
}

#menu .cls .open>ul {
    font-size: 0
}

#menu .cls .open>ul a {
    padding-bottom: 0 !important;
    padding-top: 0 !important
}

.cart_m {
    color: #fff;
    background: var(--lightLeftColBackground);
    border-top: 2px solid var(--mainColor)
}

.cart_m img {
    max-height: 30px
}

h2.title {
    position: relative;
    letter-spacing: 2px
}

@media (min-width: 577px) {
    h2.title {
        font-size:22px
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    h2.title {
        font-size:18px
    }
}

@media (max-width: 375px) {
    h2.title {
        font-size:16px
    }
}

h2.title a,h2.title span {
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 0;
    background: #1e018b;
    position: relative;
    z-index: 1;
    padding: 10px 25px;
    border-radius: 25px
}

h2.title:before {
    background: var(--mainColor);
    content: '';
    right: 0;
    left: 0;
    position: absolute;
    top: 50%;
    height: 1px;
    display: block;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}

.m_brand .img_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #fff
}

.img_b {
    border: 2px solid var(--mainColor);
    background: var(--mainColor);
    min-width: 50px;
    height: 50px
}

.aspect {
    height: 0;
    overflow: hidden;
    z-index: 3
}

.aspect .img-contain {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important
}

.ratio1by1 {
    padding-bottom: 100%
}

.ratio2by3 {
    padding-bottom: calc(100%*2/3)
}

.ratio3by2 {
    padding-bottom: calc(100%*3/2)
}

.ratio3by4 {
    padding-bottom: calc(100%*3/4)
}

.ratio1by2 {
    padding-bottom: 50%
}

.ratio1by1by3 {
    padding-bottom: calc(100% + 30px - 12px)
}

footer {
    background: var(--darkLeftColBackground)
}

@keyframes indicatorBreath {
    from {
        transform: scale(1)
    }

    50% {
        transform: scale(0.8);
        box-shadow: 0 0 0 3px rgba(7,160,68,0.33),0 0 0 6px rgba(7,160,68,0.33)
    }

    to {
        transform: scale(1);
        box-shadow: 0 0 0 3px rgba(7,160,68,0.33),0 0 0 6px rgba(7,160,68,0.33),0 0 0 9px rgba(7,160,68,0.33)
    }
}

@-webkit-keyframes indicatorBreath {
    from {
        transform: scale(1)
    }

    50% {
        transform: scale(0.8);
        box-shadow: 0 0 0 3px rgba(7,160,68,0.33),0 0 0 10px rgba(7,160,68,0.33)
    }

    to {
        transform: scale(1);
        box-shadow: 0 0 0 3px rgba(7,160,68,0.33),0 0 0 6px rgba(7,160,68,0.33),0 0 0 9px rgba(7,160,68,0.33)
    }
}

.h_zoom img {
    transform: scale(1);
    transition-duration: 0.5s;
    height: 27px;
    max-width: initial
}

@media (max-width: 375px) {
    .h_zoom img {
        height:22px
    }
}

.h_zoom:hover img {
    transform: scale(1.2)
}

.banner-border>a {
    position: relative;
    display: block;
    will-change: transform
}

.banner-border>a:before,.banner-border>a:after {
    content: "";
    border-image-source: linear-gradient(45deg, var(--mainColor), #e91ee3);
    border-image-slice: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    -webkit-transition: -webkit-transform 0.4s linear 0s;
    z-index: 1;
    animation: linepro 2s infinite
}

.banner-border>a:before {
    border-top: 2px solid;
    border-bottom: 2px solid;
    transform: scale(0, 1)
}

.banner-border>a:after {
    border-left: 2px solid;
    border-right: 2px solid;
    transform: scale(1, 0)
}

.banner-border>a img {
    transition: opacity 0.8s ease,transform 2s cubic-bezier(0, 0, 0.44, 1.18)
}

.banner-border:hover a:before,.banner-border:hover a:after {
    transform: scale(1, 1)
}

.banner-border:hover a img {
    transform: translate(-50%, -50%) scale(1.05)
}

.banner-w a {
    will-change: transform
}

.banner-w a img {
    transition: opacity 0.8s ease,transform 2s cubic-bezier(0, 0, 0.44, 1.18)
}

.banner-w:before,.banner-w:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none;
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    transform: scale(0);
    transform-origin: top left;
    z-index: 9;
    transition-duration: 1.3s
}

.banner-w:after {
    bottom: 0;
    right: 0;
    transform-origin: bottom right
}

.banner-w:hover:before,.banner-w:hover:after {
    transform: scale(1);
    opacity: 0
}

.banner-w:hover a img {
    transform: translate(-50%, -50%) scale(1.05)
}

.back_top {
    background: #014c8f;
    width: 35px;
    height: 35px;
    bottom: -65px;
    right: 39px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    transition-duration: 0.7s;
    z-index: 8;
    top: initial !important
}

.back_top.back_show {
    opacity: 1;
    bottom: 180px
}

.main-menu {
    text-align: center;
    background:white;
}

.main-menu .level0 {
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0
}

.main-menu .level0>li {
    float: left
}

.main-menu .level0>li>a {
    
    font-weight: bold;
    float: left;
    color: black;
    width: 100%;
    padding: 11px 13px;
    text-transform: uppercase;
    margin-left: 100px;
    
}

@media (max-width: 1199px) {
    .main-menu .level0>li>a {
        padding:11px
    }
}

.main-menu .level0>li>a>i {
    width: 9px;
    height: 9px;
    display: inline-block;
    background: url(icondown.png) center center no-repeat;
    margin-left: 7px;
    position: relative;
    top: -2px
}

.main-menu .level0 li {
    position: relative
}

.main-menu .level0 li.has-mega {
    position: static
}

.main-menu .level0 li:hover>ul {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    transition: .3s ease-in;

    
}

.main-menu .level0 li:hover>ul.dropdown-menu.dropdown-menu-lv1,.main-menu .level0 li:hover>ul.mega {
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
}

.main-menu .level0 li:hover>ul.dropdown-menu.dropdown-menu-lv2 {
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
}

.main-menu .level0 li.nav-item-lv2 .dropdown-menu {
    left: 25%;
    top: 0
}

.main-menu .level0 .dropdown-menu {
    background: #f0f1ee none repeat scroll 0 0;
    border: none;
    margin:0;
    padding: 0;
    position: absolute;
    top: 100%;
    border-radius: 0;
    left: 0;
    z-index: 999;
    width: 220px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    max-height: 600px;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    margin-left: 165px;
}

.main-menu .level0 .dropdown-menu.dropdown-menu-lv1 {
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
}

.main-menu .level0 .dropdown-menu.dropdown-menu-lv1 li {
    padding: 0 10px
}

.main-menu .level0 .dropdown-menu.dropdown-menu-lv2 {
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
}

.main-menu .level0 .dropdown-menu>li>a {
    padding: 8px 25px 8px 0;
    border-bottom: 1px #ebebeb solid
}

.main-menu .level0 .dropdown-menu li:hover>a {
    color: var(--mainColor)
}

.main-menu .level0 .dropdown-menu .fa {
    position: absolute;
    right: 10px;
    top: 12px
}

.main-menu .level0 ul.level1 {
    background: #fff none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    max-height: 600px;
    overflow-y: auto;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
}

.main-menu .level0 ul.level1.mega {
    padding: 0;
    list-style: none
}

.main-menu .level0 ul.level1.mega .level2 {
    padding: 0;
    list-style: none
}

.main-menu .level0 ul.level1 li.level2 {
    width: 25%;
    float: left;
    padding: 10px !important
}

.main-menu .level0 ul.level1 li.level2.title {
    width: 100%;
    padding-bottom: 0;
    font-weight: bold
}

.main-menu .level0 ul.level1 li.level2.title a {
    color: var(--mainColor)
}

.main-menu .level0 ul.level1 li.level2:nth-child(4n+1) {
    clear: left
}

.main-menu .level0 ul.level1 li.level2>a {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px #ebebeb dashed;
    padding-bottom: 5px
}

.main-menu .search-bar {
    float: right;
    position: relative;
    width: 278px;
    margin: 0;
    padding: 9px 0
}

.main-menu .search-bar input {
    width: 100%;
    height: 42px;
    border: none;
    padding: 0 42px 0 15px
}

.main-menu .search-bar button {
    position: absolute;
    right: 0;
    top: 9px;
    line-height: 42px;
    height: 42px;
    background: none;
    padding: 0 9px;
    border: none
}

@media (max-width: 1199px) {
    .main-menu .search-bar {
        width:228px
    }
}
