.regular-price,.special-price {
    color: var(--seemoreColor)
}

.old-price {
    color: #ccc
}

body {
    color: var(--textColor);
    margin-top: 107px
}

@media (max-width: 991px) {
    body {
        margin-top:54px
    }
}

#body_overlay {
    top: 0 !important;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9
}

.btn-account:hover {
    cursor: pointer
}

@media (min-width: 1500px) {
    .container {
        max-width:1370px
    }
}

.mbs {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-flex-wrap: unset;
    flex-wrap: unset
}

.menu_pushy_wrap {
    z-index: 9
}

.menu_pushy_wrap .menu_pushy_button {
    margin: 0;
    top: 0 !important;
    bottom: 0;
    background: #fff;
    width: 56px;
    height: 56px;
    z-index: 99;
    border-radius: 0 5px 5px 0
}

.menu_pushy_wrap .menu_pushy_button#js-menu-toggle-1 {
    left: auto;
    right: 0
}

@media (min-width: 992px) {
    .menu_pushy_wrap .menu_pushy_button {
        height:57px
    }
}

.menu_pushy_wrap .menu_pushy_button svg {
    width: 25px
}

.menu_pushy_wrap .menu_pushy_button:hover svg {
    fill: var(--mainColor);
    animation: spin 2s infinite linear
}

.col-left {
    width: var(--menuWidth);
    height: 100vh;
    z-index: 99;
    background: var(--leftColBackground);
    top: 0 !important;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
}

@media (max-width: 480px) {
    .col-left {
        width:270px
    }
}

.col-left.active {
    visibility: visible;
    transform: translateX(0)
}

.col-left .logo {
    padding: 15px 70px 15px 15px;
    position: relative
}

.menubar .pop_login {
    background: #fff;
    width: 185px;
    right: 0;
    box-shadow: 0px 1px 4px 0px var(--mainColor);
    transform: scale(0);
    pointer-events: none;
    transform-origin: top;
    transition: 0.5s all;
    top: 100%
}

@media (max-width: 991px) {
    .menubar .pop_login {
        top:52px
    }
}

.menubar .pop_login.active {
    transform: scale(1);
    pointer-events: auto;
    top: 50px
}

@media (min-width: 992px) {
    .menubar .btn-cart-indicator {
        top:24px;
        left: 20px;
        bottom: auto;
        font-size: 15px;
        color: #ffffff;
        background: #014c8f;
        border-radius: 15px;
        padding: 0 5px;
        min-width: 23px
    }
}

@media (max-width: 991px) {
    .menubar .btn-cart-indicator {
        left:0;
        top: 20px;
        bottom: auto;
        font-size: 16px;
        color: var(--seemoreColor)
    }
}

.col-right {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.col-right .contentWarp {
    flex: 1 0 auto
}

.header {
    z-index: 4;
    background: #fff;
    top: 0 !important
}

@media (max-width: 991px) {
    .header {
        padding:0;
        box-shadow: 0 0 3px
    }
}

.mew_slide .swiper-pagination.mew_slide_p {
    text-align: right;
    right: 50px;
    bottom: 30px;
    left: auto
}

@media (max-width: 991px) {
    .mew_slide .swiper-pagination.mew_slide_p {
        right:30px;
        bottom: 10px
    }
}

.mew_slide .swiper-pagination.mew_slide_p span {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    background: none
}

.mew_slide .swiper-pagination.mew_slide_p span.swiper-pagination-bullet-active {
    background: #fff
}

@media (max-width: 991px) {
    .mew_slide .swiper-pagination.mew_slide_p span {
        width:10px;
        height: 10px
    }
}

.mew_slide .colections-slide {
    width: 40%;
    top: 40%;
    left: 36px;
    z-index: 9;
    line-height: 45px
}

@media (min-width: 992px) and (max-width: 1199px) {
    .mew_slide .colections-slide {
        top:20%;
        width: 40%
    }
}

.mew_slide .colections-slide h3 {
    width: 80%;
    font-size: 46px;
    line-height: 46px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-family: AdineuePRO,Helvetica,Arial,sans-serif
}

@media (min-width: 992px) and (max-width: 1199px) {
    .mew_slide .colections-slide h3 {
        font-size:30px
    }
}

.mew_slide .colections-slide span {
    display: block;
    color: #fff
}

.mew_slide .colections-slide a {
    display: inline-block;
    padding: 5px 50px;
    background: var(--mainColor);
    position: relative;
    transform: translate(-3px, -3px)
}

.mew_slide .colections-slide a:before {
    content: "";
    display: block;
    position: absolute;
    transition: 0.1s cubic-bezier(0.3, 0, 0.45, 1);
    border-bottom: 1px solid var(--mainColor);
    border-left: 1px solid var(--mainColor);
    bottom: -3px;
    height: 3px;
    left: 3px;
    width: 100%
}

.mew_slide .colections-slide a:after {
    border-right: 1px solid var(--mainColor);
    border-top: 1px solid var(--mainColor);
    height: 100%;
    right: -3px;
    top: 3px;
    width: 3px;
    content: "";
    display: block;
    position: absolute;
    transition: 0.1s cubic-bezier(0.3, 0, 0.45, 1)
}

.mew_slide .colections-slide a:active,.mew_slide .colections-slide a:hover {
    transform: translate(0)
}

.mew_slide .colections-slide a:active:after,.mew_slide .colections-slide a:hover:after {
    display: none
}

.mew_slide .colections-slide a:active:before,.mew_slide .colections-slide a:hover:before {
    display: none
}

.mew_slide .colections-slide a span {
    color: #fff
}

.section-content {
    margin: 0 auto
}

.section-content .product-item-main {
    width: 100%;
    height: 100%;
    min-height: auto;
    padding: 20px
}

@media (min-width: 992px) {
    .section-content .product-item-main {
        width:50%;
        padding: 0px
    }
}

.section-content .item-info {
    padding: 20px
}

@media (min-width: 992px) {
    .section-content .item-info {
        width:50%;
        height: 100%;
        padding: 0 40px
    }

    .section-content .item-info h3 {
        font-size: 20px
    }
}

.section-content .item-info .hot_tt:hover {
    color: var(--mainColor)
}

.section-content .item-info .item-content {
    border-bottom: 1px solid #f1f1f1
}

.section-content .item-info .item-content .see-details {
    text-decoration: underline;
    text-underline-position: under
}

.section-content .item-info .item-content .item-price {
    font-size: 25px
}

.section-content .item-info .item-content .item-price .old-price {
    font-size: 17px
}

.section-content .item-info .item-content .see-details {
    font-size: 25px
}

.section-content .promo-detail p {
    margin: 0
}

.section-content .promo-detail b,.section-content .promo-detail strong {
    color: var(--mainColor)
}

.gift_cnts {
    box-shadow: 0px 0px 2px 0px var(--mainColor)
}

.gift_cnts:before {
    content: "";
    background: url(//bizweb.dktcdn.net/100/425/004/themes/817678/assets/sale-bagde.png?1701049529469) no-repeat;
    position: absolute;
    top: -5px;
    right: -5px;
    height: 90px;
    width: 90px;
    background-size: 90px;
    z-index: 3
}

.product-item-list {
    border-color: #ececec !important
}

@media (min-width: 1200px) {
    .side_b {
        flex-wrap:wrap
    }
}

.item_list .item-title {
    font-size: 1rem
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next {
    background: rgba(36,42,46,0.7);
    height: 50px;
    left: 0;
    width: 30px;
    top: 40%
}

.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after {
    font-size: 25px;
    font-weight: bold;
    color: #fff
}

.cursor-pointer:hover {
    cursor: pointer
}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev {
    background: rgba(36,42,46,0.7);
    height: 50px;
    right: 0;
    width: 30px;
    top: 40%
}

.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after {
    font-size: 25px;
    font-weight: bold;
    color: #fff
}

.sale-label {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 5px 10px;
    z-index: 3
}

.sale-label span {
    position: relative;
    display: inline-block;
    background: #d50000;
    color: white;
    height: 2rem;
    width: 2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    transform: rotate(-20deg);
    animation: sale 1s ease infinite alternate;
    font-size: 13px
}

.sale-label span:before,.sale-label span:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg)
}

.sale-label span:after {
    transform: rotate(60deg)
}

.tag-pro {
    top: 2px;
    left: 0px;
    bottom: auto;
    z-index: 3
}

.tag-pro .new,.tag-pro .hot {
    padding: 2px 8px
}

.tag-pro .new span,.tag-pro .hot span {
    color: #fff;
    font-size: 13px;
    text-align: center;
    vertical-align: text-top
}

.tag-pro .new {
    background: var(--mainColor);
    border-radius: 0 16px 0px 0;
    box-shadow: 0px 0px 2px var(--mainColor)
}

.tag-pro .new.up_bor {
    border-radius: 0 0px 16px 0
}

.tag-pro .hot {
    background: #d50000;
    border-radius: 0 0px 16px 0;
    box-shadow: 0px 0px 2px #d50000
}

@keyframes sale {
    from {
        transform: rotate(-20deg) scale(1)
    }

    to {
        transform: rotate(-20deg) scale(1.1)
    }
}

.product-item {
    background: #f9f9f9
}

.product-item .item-image {
    position: relative;
    display: block
}

.product-item .item-image:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ccc;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    animation: linepr 2s infinite;
    transition: all 1s linear
}

.product-item .item-image .image-0 {
    opacity: 1;
    transition: all 0.6s linear
}

.product-item .item-image .image-1 {
    opacity: 0;
    transition: all 0.6s linear
}

.product-item .item-image:hover .image-0 {
    opacity: 0
}

.product-item .item-image:hover .image-1 {
    opacity: 1
}

.product-item .item-image:hover:after {
    content: "";
    border-image-source: linear-gradient(45deg, var(--mainColor), #62a0d8);
    border-image-slice: 1;
    position: absolute;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    -webkit-transition: -webkit-transform 0.4s linear 0s;
    z-index: 1;
    border-bottom: 1px solid
}

.product-item .see-details {
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(0);
    bottom: -25px
}

.product-item:hover .see-details {
    opacity: 1;
    bottom: 0px
}

.product-item .item-info {
    width: 100%;
    transition: 0.75s;
    will-change: transform;
    top: calc(100% - 80px);
    z-index: 4
}

.product-item .item-info .item-title {
    font-size: 14px
}

.product-item .item-info .item-title a:hover {
    color: var(--mainColor)
}

.product-item .item-info .item-price {
    color: var(--mainColor)
}

.product-item .item-info .item-price .old-price {
    font-size: 13px;
    color: var(--accentColor1)
}

@keyframes linepr {
    0% {
        filter: hue-rotate(0deg)
    }

    25% {
        filter: hue-rotate(90deg)
    }

    50% {
        filter: hue-rotate(180deg)
    }

    75% {
        filter: hue-rotate(270deg)
    }

    100% {
        filter: hue-rotate(360deg)
    }
}

.item_bl .blog .blog-inf .title_blo {
    font-size: 16px
}

.item_bl .blog .blog-inf .readmore {
    color: var(--mainColor)
}

.item_bl .blog .blog-inf .readmore:hover {
    color: var(--seemoreColor)
}

footer {
    color: #fff;
    flex-shrink: 0
}

footer a {
    color: #fff
}

footer .footer-left .footer-title {
    font-size: 28px;
    line-height: 100%
}

footer .footer-left .footer-title:before {
    content: "";
    height: 2px;
    width: 88px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -2px
}

footer .footer-left p {
    margin-bottom: 10px
}

footer .footer-left p a {
    font-weight: 500
}

footer .footer-right {
    background: var(--lightLeftColBackground)
}

footer .bgk {
    z-index: 1;
    border-top: 1px solid #777777;
    background: var(--darkLeftColBackground)
}

.btn-primary {
    transition: all 0.5s;
    color: #fff;
    background-color: var(--mainColor);
    border-color: var(--mainColor);
    transition: 0.5s all
}

.btn-primary.subml {
    min-width: 145px;
    font-size: 20px;
    text-transform: uppercase;
    justify-content: center;
    min-height: 40px
}

.btn-primary:hover,.btn-primary:active,.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: var(--mainColor);
    border-color: var(--mainColor)
}

#book-form .form-control::placeholder {
    color: var(--accentColor1)
}

#book-form .form-control:focus {
    border-color: var(--mainColor);
    box-shadow: none
}

.grecaptcha-badge {
    display: none !important
}

input {
    outline: none
}

#book-form h3 {
    color: var(--mainColor)
}

.phone-box .oi {
    opacity: 0;
    width: 0;
    font-size: 0;
    position: absolute;
    height: 0;
    left: 40px;
    top: 7px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

@keyframes play0 {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@media (min-width: 992px) {
    .phone-box,.zalo-box,.fb-box {
        width:44px;
        height: 44px;
        line-height: 44px;
        border-radius: 30px;
        display: inline-block;
        background: var(--mainColor);
        border: 2px solid var(--light);
        margin: 0 5px;
        position: relative
    }

    .phone-box img,.zalo-box img,.fb-box img {
        max-width: 25px
    }

    .phone-box:hover,.zalo-box:hover,.fb-box:hover {
        transform: translateY(-5px)
    }

    .phone-box img {
        animation: play0 1.5s ease infinite
    }

    .fix-phone {
        position: fixed;
        bottom: 0;
        top: inherit !important;
        z-index: 9;
        right: 0;
        display: flex;
        padding: 6px;
        border-top-left-radius: 20px;
        justify-content: center;
        align-items: center;
        background-color: var(--mainColor)
    }

    .fix-phone:before {
        content: "";
        position: absolute;
        height: 15px;
        width: 20px;
        bottom: -1px;
        left: -20px;
        border-radius: 0 0 30px 0;
        box-shadow: 10px 0 0 0 var(--mainColor);
        pointer-events: none
    }
}

@media (max-width: 991px) {
    .phone-box,.zalo-box,.fb-box {
        width:calc((100% - 55px)/3);
        float: left;
        text-align: center
    }

    .phone-box img,.zalo-box img,.fb-box img {
        max-height: 35px
    }

    .fix-phone {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: rgba(255,255,255,0.9);
        padding: 8px 0;
        z-index: 8;
        top: inherit !important;
        box-shadow: 0px 0px 2px 2px rgba(45,52,58,0.1)
    }

    .navigation-bottom .btn-cart {
        position: fixed !important;
        right: 0;
        bottom: 0;
        background: var(--mainColor);
        border: none;
        text-align: center
    }

    .navigation-bottom .btn-cart .btn-cart-indicator {
        left: 0;
        top: 16px;
        bottom: auto;
        font-size: 16px;
        color: #fff
    }

    footer .bgk {
        margin-bottom: 55px
    }

    .navigation-bottom .btn-account {
        min-width: 100%;
        min-height: 52px
    }
}

button:focus {
    outline: none
}

footer .collapse {
    display: block
}

footer .widget-ft .title-menu {
    font-size: 18px
}

footer .widget-ft .collapse {
    line-height: 18px
}

footer .widget-ft .collapse ul {
    padding: 0
}

footer .widget-ft .collapse ul li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: 500
}

.m_serv .section_policy_content .section-policy-padding h3 {
    font-size: 14px;
    color: var(--mainColor)
}

.m_serv .section_policy_content .section-policy-padding .section_policy_title {
    font-size: 12px;
    color: #000
}

@media (min-width: 568px) {
    .m_serv .section_policy_content:before {
        background:#ebebeb;
        content: '';
        display: block;
        height: 70%;
        position: absolute;
        right: -15px;
        top: 50%;
        width: 1px;
        z-index: 9;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.m_serv .section_policy_content .icon img {
    max-width: 50px;
    margin-right: 10px
}

@media (max-width: 480px) {
    .m_serv .section_policy_content .icon img {
        float:none
    }
}

.m_serv .section_policy_content .section-policy-padding {
    vertical-align: top
}

@media (max-width: 480px) {
    .m_serv .section_policy_content .section-policy-padding {
        padding:0;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px
    }
}

@media (max-width: 767px) {
    .m_serv.m_serv_index .section_policy_content {
        display:block !important
    }

    .m_serv.m_serv_index .section_policy_content .icon,.m_serv.m_serv_index .section_policy_content .section-policy-padding {
        width: 100%
    }

    .m_serv.m_serv_index .section_policy_content .icon h3,.m_serv.m_serv_index .section_policy_content .section-policy-padding h3 {
        font-size: 12px
    }
}

.l-0 {
    left: 0 !important
}

.r-0 {
    right: 0 !important
}

.m_people {
    background-attachment: fixed !important;
    color: #363636;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.m_people:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    z-index: 1;
    background-color: rgba(0,0,0,0.5)
}

.m_people .title_testimonial {
    line-height: 60px;
    margin-top: -25px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    z-index: 2
}

.m_people .title_testimonial:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 25px 30px;
    border-color: transparent transparent #d7d7d7 transparent;
    top: 0;
    left: -45px
}

.m_people .title_testimonial:after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 25px 30px;
    border-color: transparent transparent #d7d7d7 transparent;
    top: 0;
    right: -45px
}

.m_people .title_testimonial h2 {
    color: #fff;
    font-size: 25px;
    background: #1e018b;
    line-height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 1
}

@media (max-width: 767px) {
    .m_people .title_testimonial h2 {
        font-size:17px;
        padding-left: 15px !important;
        padding-right: 10px !important;
        min-width: 225px
    }
}

.m_people .title_testimonial h2:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 46px 0;
    border-color: transparent var(--mainColor) transparent transparent;
    left: -15px;
    top: 0;
    position: absolute
}

.m_people .title_testimonial h2:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 17px 0 0;
    border-color: #1e018b transparent transparent transparent;
    right: -15px;
    top: 0;
    content: "";
    position: absolute
}

.m_people .m-people {
    position: relative;
    z-index: 1
}

.m_people .m-people .ps-testimonial .terminal {
    position: relative;
    overflow: hidden;
    z-index: 1
}

.m_people .m-people .ps-testimonial .terminal .layer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--mainColor), #62a0d8);
    transition: all 1s;
    z-index: -1
}

.m_people .m-people .ps-testimonial .terminal:hover {
    cursor: pointer
}

.m_people .m-people .ps-testimonial .terminal:hover .layer {
    top: 0
}

.m_people .m-people .ps-testimonial .terminal:hover .icon {
    transition: all 3s
}

.m_people .m-people .ps-testimonial .terminal:hover .icon:after {
    opacity: 1;
    visibility: visible;
    animation: spin 10s infinite linear
}

.m_people .m-people .star svg {
    margin-right: 5px
}

.m_people .m-people .icon {
    max-width: 120px;
    border-radius: 50%;
    transition: all 3s
}

.m_people .m-people .icon:after {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    content: '';
    position: absolute;
    border: 3px dashed #f00;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transition: all 4s
}

.m_people .m-people .icon img {
    border-radius: 50%
}

.m_people .m-people .section-policy-padding {
    color: #fff;
    font-size: 18px
}

.m_people .m-people .section-policy-padding a {
    color: #fff
}

.m_people .m-people .peo_content {
    font-size: 15px;
    font-style: italic;
    line-height: 1.8em;
    color: #fff
}

@media (min-width: 768px) {
    .m_people .m-people .peo_content {
        padding:0 23px
    }
}

.section_store_system {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
    text-align: center;
    position: relative;
    border-bottom: 4px solid var(--mainColor)
}

.section_store_system:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0
}

.section_store_system h3 {
    margin: 0;
    color: #fff;
    display: block;
    font-size: 30px;
    line-height: 40px
}

@media (max-width: 480px) {
    .section_store_system h3 {
        font-size:25px
    }
}

.section_store_system a {
    background: #fff;
    color: var(--mainColor);
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 25px
}

.section_store_system a:hover,.section_store_system a:focus {
    background: linear-gradient(to bottom left, var(--mainColor), #62a0d8);
    color: #fff
}

@keyframes spin {
    0% {
        transform: rotate(-360deg);
        border-color: #fff
    }

    25% {
        border-color: #f4c803
    }

    50% {
        border-color: #03f45b
    }

    75% {
        border-color: #f403e8
    }

    100% {
        transform: rotate(0deg);
        border-color: #f47703
    }
}

.m_product .link-title {
    overflow: hidden;
    z-index: 1
}

@media (max-width: 991px) {
    .m_product .link-title {
        white-space:nowrap;
        overflow-x: auto
    }
}

.m_product .link-title a {
    color: #222;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid transparent;
    margin: 0 10px
}

.m_product .link-title a .bg-link {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--mainColor), #62a0d8);
    transition: all 0.5s;
    z-index: -1
}

.m_product .link-title a:hover .bg-link {
    top: 0px
}

.m_product .link-title a:hover span {
    color: #fff;
    transition: all 0.5s
}

@media (max-width: 991px) {
    #search-block {
        max-width:100% !important;
        flex: 0 0 100% !important
    }
}

.m_banner {
    will-change: transform
}

.m_banner .effect-ming {
    border-radius: 10px
}

.m_banner .effect-ming:hover .b_name {
    background: var(--mainColor)
}

.m_banner .b_name {
    z-index: 9;
    background: rgba(0,0,0,0.7);
    padding: 7px 15px;
    pointer-events: none;
    transition: all 0.5s;
    border-radius: 10px;
    top: 10px
}

.m_banner .b_name span {
    color: #ddd
}

.m_banner .b_name h3 {
    color: #fff
}

@media (min-width: 992px) and (max-width: 1199px) {
    .m_banner .b_name h3 {
        font-size:20px
    }
}

.m_banner .collection_name.left {
    right: 25px
}

.m_banner .collection_name.right {
    left: 25px
}

.m_banner .collection_name_mid {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap
}

#searchResult {
    display: none;
    background: var(--leftColBackground);
    z-index: 9;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    transition: 0.3s border-color ease;
    max-height: 500px;
    overflow-y: auto
}

#searchResult .result-item {
    transition: 0.3s all ease
}

#searchResult .result-item:hover {
    background: var(--mainColor)
}

#searchResult .result-item:hover .result-item_name,#searchResult .result-item:hover .result-item_price {
    color: #fff
}

#searchResult .result-item_image {
    width: 100px
}

#searchResult .result-item_detail {
    flex: 0 0 calc(100% - 100px);
    min-width: calc(100% - 100px)
}

#searchResult .result-item_name {
    color: var(--mainColor);
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis
}

#searchResult .result-item_price {
    color: #ce0000;
    font-size: 0.85rem;
    overflow: hidden;
    text-overflow: ellipsis
}

#searchResult .result-item_price del {
    color: #ddd
}

.entry-content {
    max-width: 100%
}
